.navbar-light .navbar-toggler {
    border-style:hidden;
    color: #EDDCDC;

}

.navbar-light .navbar-toggler-icon{
  color: #EDDCDC;
}
.navbar-toggler {
  border-color:none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  height: 750px;
  margin: 0px;
}

.col-6 {
  margin:5px;
}

.col-12 {
    margin:5px;}
.col-8 {
  margin:5px;
}

body {
  height: 120vh;

}

.nav-link {
  text-decoration: none;
  color: #EDDCDC;

}

.navbar-lewagon {
  justify-content: space-between;}

.navbar-brand img {
  height: 80px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-item {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;


}

.footer {
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 300;
font-style: normal;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
