#phone-app img {
  object-fit: cover;
  width:100%;
  height: 55vh;

}


#phone-app, #football {
  padding:10px;
}

#title-icecream, #title-football{
  padding-top: 20px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  color: #EDDCDC;
  text-align: left;
}

#text-football {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
  color: #EDDCDC;
  padding-left: 30px;
}

#football img {
  object-fit: contain;
  width:100%;
  height: 55vh;

}
