#title-work {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 85px;
  text-align: left;
  color: #3A4F41;
  line-height: 0.9;
}



#intro-work{
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #EDDCDC;
  font-size: 50px;
  padding-top:20px;
  padding-bottom: 20px;
  line-height: 1;
  text-align: center;
}

#print {
  padding-top: 10px;
}

#print img {
  object-fit: cover;
  width: 100%;
  max-height: 90%;
}

#print h5 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: #EDDCDC;
  text-align: left;
}

#print p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: #EDDCDC;
}
#lecture {
  padding-top: 10px;
}

#lecture img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}

#lecture-small img{
  padding-bottom: 30px;
}


#ins-work img{
  object-fit: contain;
  width: 100%;
  height: 55vh;
}

#donate-one img {
  object-fit: contain;
  width: 100%;
  height: 45vh;
  padding: 20px;
}

#post-work h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #EDDCDC;
  text-align: center;
  padding-top: 50px;
}

#post-work p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
  color: #EDDCDC;
  line-height: 0.95;
  text-align: left;
  margin: 30px;

}

